body {
  padding-top: 100px;
  background: #f2f2f2;
}
.container {
  max-width: 570px;
}
.logo img {
  display: block;
  margin: 0 auto;
}
.card-add-todo .row {
  margin-bottom: 0;
}
.tabs .tab a {
  color: #000;
}
.tabs .tab a:hover, 
.tabs .tab a.active {
  background-color: transparent;
  color: #26a69a;
}
.tabs .indicator {
  background-color: #26a69a;
}
.btn-delete-todo {
  cursor: pointer;
  color: #d70c0b;
}